<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous"/>
    <link rel="stylesheet" href='css/nav.css'/>
    <script src="https://unpkg.com/scrollreveal"></script>
</head>
<body>
    <header class="header">
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <img src="images/logo.png" alt="Logo" width="100">
                </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <i class="fa-solid fa-file-contract" ></i>
                            <span class="text">Normas</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span>
                                <i class="fa-solid fa-folder" ></i>
                            </span>
                            <span class="text">Edições</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="contato.html">
                            <span>
                                <i class="fa-solid fa-users" ></i>
                            </span>
                            <span class="text">Equipe</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <i class="fa-solid fa-house" ></i>
                            <span class="text">Início</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="login.html">
                            <span class="fa-solid fa-circle-user ico"></span>
                        </a>
                    </li>
                </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="main">
        <section class="s1">
            <div class="comtainer hidden">                   
                <div class="front">
                    <img class="p-0 m-0" src="images/logo_white.png" width="50%"></img>
                    <p class="m-1 pb-2">Exposição Científica, Tecnológica e Cultural</p>
                    <a href="#s2"><button class="btn m-1">O que é EXPOTEC?</button></a>
                    <a href="#"><button class="btn m-1" hrft>Ver Atual EXPOTEC!</button></a>
                </div>
            </div>
        </section>
        <section id="s2" class="s2 text-light">
            <div class="hidden">
                <div class="">
                        <h1 class="text-center mt-2 hidden">APRESENTAÇÃO</h1>
                        <p class="mx-4 hidden">
                            A Exposição Científica, Tecnológica e Cultural – EXPOTEC – é um evento institucional do IFRN com o objetivo de integrar as diversas áreas de conhecimentos, bem como os grupos de pesquisa, os projetos de extensão e os núcleos em atuação nos campi, estimulando e aprofundando as trocas de experiências, como também a divulgação das produções acadêmicas desenvolvidas no âmbito da instituição. É, portanto, um evento que promove a articulação entre o ensino, a extensão, a pesquisa, a inovação e a gestão, a fim de socializar os saberes e fazeres produzidos, tanto para a comunidade interna quanto externa ao IFRN.
                            A última edição da EXPOTEC, no Campus São Paulo do Potengi, ocorreu em 2018, e, agora, o evento é retomado com o intuito de promover um espaço em que discentes e servidores apresentam à sociedade uma mostra das atividades desenvolvidas no campus em si, assim como em todo o IFRN, em seus diferentes níveis de atuação.
                            Em sua terceira edição, tem por tema “IFRN EM MOVIMENTAÇÃO: CIÊNCIA E TECNOLOGIA NA REGIÃO DO POTENGI”, chamando a atenção para uma questão fundamental: pensar a educação em movimento constante, indissociável da ciência e da tecnologia, contribuindo para o desenvolvimento local e com a transformação da sociedade a partir da formação e do desenvolvimento físico, intelectual, cultural e moral do ser humano.
                            Pensar na região do Potengi no atual contexto econômico, político, social e ambiental, inserida no complexo mundo contemporâneo, cientificista e tecnológico, é um requisito para compreendermos o nosso papel enquanto cidadãos potiguares, potengienses, capazes de refletir sobre ações que promovam transformações na nossa realidade e acompanhem as demandas do mercado profissional em constante movimento.
                            Desse modo, refletir do local para o global é ler o mundo atribuindo-lhe sentido. Nessa perspectiva, como notavelmente destacado pelo educador Paulo Freire, "ninguém lê ou estuda autenticamente se não assume, diante do texto ou do objeto da curiosidade, a forma crítica de ser ou de estar sendo sujeito da curiosidade, sujeito da leitura, sujeito do processo de conhecer em que se acha". (Professora sim, tia não. Cartas a quem ousa ensinar (Editora Olho D'Água, 10ª ed.,2012. p. 27-38))
                            Isto posto, entendemos que temos por finalidade, enquanto instituição de ensino, a preparação de nossos estudantes para o exercício da cidadania, tal como sua qualificação para o mundo do trabalho, com respeito e ética profissional, conectados com a construção de sentido(s) do que nela se apre(e)nde, uma vez que apre(e)nder Ciência e Tecnologia só se dá na movimentAÇÃO de sentido(s).
                            Convidamos você a descobrir o(s) sentido(s) dos saberes científicos, tecnológicos, artísticos e culturais de nossa instituição ao longo de nossa III EXPOTEC, que acontecerá entre os dias 21 e 24 de novembro de 2022, no IFRN - campus São Paulo do Potengi.
                        </p>
                </div>
            </div>
        </section>
        <section class="s3 text-light">
            <div class="areas">
                <div class="hidden a">
                        <h1 class="text-center mt-2">ÁREAS TEMÁTICAS</h1>
                        <div class="m-4 hidden">
                            <h4>LINGUAGENS, CÓDIGOS E SUAS TECNOLOGIAS</h4>
                        </div>
                        <div class="m-4 hidden">
                            <h4>CIÊNCIAS HUMANAS, SOCIAIS APLICADAS E SUAS TECNOLOGIAS</h4>
                        </div>
                        <div class="m-4 hidden">
                            <h4>CIÊNCIAS DA NATUREZA E SUAS TECNOLOGIAS</h4>
                        </div>
                        <div class="m-4 hidden">
                            <h4>MEIO AMBIENTE E SUAS TECNOLOGIAS</h4>
                        </div>
                        <div class="m-4 hidden">
                            <h4>EDIFICAÇÕES E SUAS TECNOLOGIAS</h4>
                        </div>
                        <div class="m-4 hidden">
                            <h4>INFORMÁTICA PARA INTERNET E SUAS TECNOLOGIAS</h4>
                        </div>
                        <div class="m-4 hidden">
                            <h4>MATEMÁTICA E SUAS TECNOLOGIAS</h4>
                        </div>
                </div>
            </div>
        </section>
        <section class="s4 text-light">
            <div class="atual">
                <div class="hidden">
                    <h1 class="text-center mt-2">EXPOTEC ATUAL</h1>
                    <a href="#"><button class="btn m-1">Ver Atual EXPOTEC!</button></a>
                </div>
            </div>
        </section>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
    <script src="js/scripts.js"></script>
</body>
</html>